@import "compass/reset";

@keyframes caret {
  50% {
    opacity: 0.1;
    transform: scaleY(.8);
  }
}

@-webkit-keyframes caret {
  50% {
    opacity: 0.1;
    -webkit-transform: scaleY(.8);
  }
}

@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local('Fjalla One'), local('FjallaOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/fjallaone/v1/rxxXUYj4oZ6Q5oDJFtEd6hsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

html, body {
  height: 100%;
}

#wrap {
  min-width: 600px;
  height: 100%;
  position: relative;
  background: -webkit-radial-gradient(#205983, #0A2742);
  background: radial-gradient(#205983, #0A2742);
  overflow: hidden;
}

#content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: .6s cubic-bezier(0.02, 0.6, 0.2, 1);
  transition: .6s cubic-bezier(0.02, 0.6, 0.2, 1);
  section {
    width: 50%;
    height: 100%;
    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
  .input {
    margin:0 auto;
  }
}

.fancyInput {
  max-width: 80%;
  min-width: 1em;
  font-size: 60px;
  color: #FFF;
  vertical-align: middle;
  line-height: 1.3;
  overflow: hidden;
  text-align: left;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .15), 0 2px 4px rgba(0, 0, 0, .2) inset, 0 0 12px rgba(255, 255, 255, .1);
  padding: 8px 20px;
  background: rgba(0, 0, 0, .1);
  border-radius: 10px;
  display: inline-block;
  letter-spacing: -1px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .6);
  white-space: nowrap;
  width: 1em;
  margin:0 0 0 42%;
  font-family: 'Fjalla One', sans-serif;
  position: relative;
  :-moz-placeholder {
    color: rgba(255, 255, 255, 0.2);
  }
   :-webkit-placeholder {
    color: rgba(255, 255, 255, 0.2);
  }
  input {
    color: transparent;
    position: absolute;
    z-index: 2;
    width: 100%;
    border: 0;
    outline: 0;
    top: 0px;
    left: 0;
    background: none;
    padding: inherit;
    padding-bottom: 0;
    font-family: 'Fjalla One', sans-serif;
    font-size: inherit;
    letter-spacing: -1px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    top: 1px;
    left: -1px;
    padding-right: 0;
  }
   > div {
    display: inline-block;
  }
  *:focus ~ .caret,
  *:focus ~ div .caret {
    opacity: .8;
    box-shadow: 0 0 8px #FFF;
    -webkit-animation: 0.4s 40ms caret infinite;
    animation: 0.4s 40ms caret infinite;
  }
  .caret {
    font-weight: normal;
    opacity: 0;
    display: inline-block;
    width: 3px;
    margin-left: -3px;
    background: #FFF;
    border-radius: 4px;
    -moz-user-select: none;
  }
  span:not(.deleted) ~ .caret {
    position: absolute;
    margin: 0;
  }
  > div {
    span {
      -webkit-transition: 100ms cubic-bezier(0.08, 0.6, 0.56, 1.4);
      transition: 100ms cubic-bezier(0.08, 0.6, 0.56, 1.4);
      display: inline-block;
      position: relative;
    }
    > .deleted {
      opacity: 0;
      -webkit-transition: 140ms;
      transition: 140ms;
      -webkit-transform: translateX(12px);
      transform: translateX(12px);
    }
    > span.state1 {
      -webkit-transform: translateY(-25px) rotateX(90deg);
      transform: translateY(-25px) rotateX(90deg);
    }
    > span.state2 {
      -webkit-transform: translateY(25px) rotateX(90deg);
      transform: translateY(25px) rotateX(90deg);
    }
  }
  > input[type=password] + div span:empty::after {
    content: 'â—';
    display: inline;
  }
}

#top {
  position:absolute;
  top:0;
  left:50%;
  margin-left:-2.5rem;
  width:5rem;
  height:5rem;
  font-size:2.5rem;
  line-height: 5rem;
  color:orange;
  text-align: center;
  background-color:#0A2742;
  text-shadow:0 0 10px orange;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .15), 0 2px 4px rgba(0, 0, 0, .2) inset, 0 0 12px rgba(255, 255, 255, .1);
}




/* only Caret which is

.effect2 .fancyInput > div span.state1,
.effect2 .fancyInput > div span.state2 {
  -webkit-transform: translateX(10px) scale(1.8);
  transform: translateX(10px) scale(1.8);
}

.effect3 .fancyInput > div span {
  -webkit-transition: 200ms cubic-bezier(0.08, 0.6, 0.56, 1.4);
  transition: 200ms cubic-bezier(0.08, 0.6, 0.56, 1.4);
}

.effect3 .fancyInput > div span.state1,
.effect3 .fancyInput > div span.state2 {
  opacity: 0;
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
  -webkit-filter: blur(2px);
}

.effect4 .fancyInput > div span {
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}

.effect4 .fancyInput > div span.state1,
.effect4 .fancyInput > div span.state2 {
  opacity: 0;
  -webkit-transform: translateY(-60px);
  transform: translateY(-60px);
}

.effect5 .fancyInput > div span {
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}

.effect5 .fancyInput > div span.state1,
.effect5 .fancyInput > div span.state2 {
  opacity: 0;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  opacity: 0;
}
                           */